<custom-display-exemplaire>
    <div layout="row" layout-align="start start" class="layout-align-start-start layout-row">
        <!---->
        <div layout="flex" class="layout-row">
            <!---->
            <!---->
            <button class="neutralized-button md-button md-primoExplore-theme md-ink-ripple" type="button" prm-brief-internal-button-marker="" ng-click="$ctrl.handleAvailability($index, $event);$event.preventDefault();" aria-label="{{status}} {{branch}}" title="{{status}} {{branch}}">
  <span class="button-content">
		  <span ng-if="home_library_id">{{home_library_id}}</span> 
		  <span ng-if="location">{{location}}</span>
		  <span ng-if="callnumber">{{callnumber}}</span>
		  <span ng-if="availability">{{availability}}</span>
	  <!---->
  <!---->
 </span>
 
 <!---->
</button>
        </div>
        <!---->
    </div>
    <!---->

</custom-display-exemplaire>